* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
thead,
td,
tr,
th {
  border: 1px solid black;
}
th {
  text-align: justify;
}
th,
td {
  padding: 10px;
}
tr:nth-child(even) {
  background-color: rgb(218, 218, 218);
}
tr:hover td {
  background-color: cadetblue;
  color: white;
}

@media (max-width: 768px) {
  thead {
    display: none;
  }
  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }
  tr {
    margin-bottom: 15px;
  }
  tbody tr td {
    text-align: right;
    padding-left: 10%;
    position: relative;
  }
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
